(kicad_pcb (version 20211014) (generator "TextToPCB_AI")
  (uuid {{ project_uuid }})
  (setup
    (stackup
      (layer "F.Cu" (type "copper"))
      (layer "B.Cu" (type "copper"))
    )
    (pcbplotparams
      (layerselection 0x00010f0_ffffffff)
      (disableapertmacros false)
      (usegerberextensions false)
      (usegerberattributes true)
      (usegerberadvancedattributes true)
      (creategerberjobfile true)
      (svgprecision 6)
      (excludeedgelayer true)
      (plotframeref false)
      (viasonmask false)
      (mode 1)
      (useauxorigin false)
      (hpglpennumber 1)
      (hpglpenspeed 20)
      (hpglpendiameter 15)
      (pdf_on_one_page true)
      (drawzebralinewidth 0.5)
    )
  )
  {% for footprint in footprints %}
  (footprint "{{ footprint.library_ref }}" (layer "F.Cu")
    (at {{ footprint.x }} {{ footprint.y }} {{ footprint.angle }})
    (property "Reference" "{{ footprint.id }}" (at 0 -2.54 0) (effects (font (size 1.27 1.27))))
    (property "Value" "{{ footprint.value }}" (at 0 2.54 0) (effects (font (size 1.27 1.27))))
    (uuid {{ footprint.uuid }})
  )
  {% endfor %}
)
