(kicad_pcb (version 20211014) (generator "KiFlow_AI")
  (uuid {{ project_uuid }})
  (setup
    (stackup
      (layer "F.Cu" (type "copper"))
      (layer "B.Cu" (type "copper"))
    )
    (pcbplotparams
      (layerselection 0x00010f0_ffffffff)
      (disableapertmacros false)
      (usegerberextensions false)
      (usegerberattributes true)
      (usegerberadvancedattributes true)
      (creategerberjobfile true)
      (svgprecision 6)
      (excludeedgelayer true)
      (plotframeref false)
      (viasonmask false)
      (mode 1)
      (useauxorigin false)
      (hpglpennumber 1)
      (hpglpenspeed 20)
      (hpglpendiameter 15)
      (pdf_on_one_page true)
      (drawzebralinewidth 0.5)
    )
  )

  {% for net in nets %}
  (net {{ net.id }} "{{ net.name }}")
  {% endfor %}

  {% for footprint in footprints %}
  {{ footprint.content }}
  {% endfor %}

  {% for drawing in drawings %}
  {{ drawing }}
  {% endfor %}
)
