{
  "board": {
    "design_settings": {
      "rules": {
        "min_track_width": 0.2,
        "min_clearance": 0.2
      }
    }
  },
  "pcbnew": {
    "last_paths": {
      "netlist": ""
    }
  },
  "project_name": "{{ project_name }}",
  "version": 1
}
